@page "/Financiamientos"
@rendermode InteractiveServer
@inject FinanciamientoService financiamientoService
@inject NavigationManager navigation

<PageTitle>Financiamientos</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <!-- Header -->
        <div class="card-header">
            <h3><strong>Financiamientos</strong></h3>
            <button type="button" class="btn btn-outline-primary" @onclick="IrACrear"><i class="bi bi-plus-circle" /> Crear</button>
        </div>
        <!-- Body -->
        <div class="card-body">
            @if (loading)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-info"></div>
                </div>
            }
            else if (financiamientos.Count == 0)
            {
                <h1 class="miMensaje"><i class="bi bi-exclamation-triangle" /> No hay financiamientos registrados</h1>
            }
            else
            {
                <!-- Filtros -->
                <div class="mb-3">
                    <div class="row align-items-center">
                        <label class="form-label" for="filtro"><strong>Campo a Filtrar:</strong></label>
                        <div class="col-3">
                            <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                                <option selected disabled>Elije una opción</option>
                                <option value="nombre">Nombre</option>
                            </InputSelect>
                        </div>
                        <div class="col-auto miFlecha">
                            <p>→</p>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <InputText class="form-control" @bind-Value="valorFiltro" placeholder="Ingrese un dato para filtrar"></InputText>
                                <button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="bi bi-search" /></button>
                            </div>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-outline-secondary" @onclick="Restablecer"><i class="bi bi-arrow-clockwise" /> Restablecer</button>
                        </div>
                    </div>
                </div>

                <!-- Tabla de Financiamientos -->
                <table class="table table-bordered miTabla">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Cantidad de Pago</th>
                            <th>Forma de Pago</th>
                            <th>Cuotas de Pago</th>
                            <th>Actividades</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var financiamiento in financiamientos)
                        {
                            <tr>
                                <td>@financiamiento.FechaCreacion.ToShortDateString()</td>
                                <td>@financiamiento.NombreCliente</td>
                                <td>@financiamiento.CantidadPago.ToString("N2")</td>
                                <td>@financiamiento.FormaPago</td>
                                <td>@financiamiento.TotalPorPago.ToString("C")</td>
                                
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-outline-info" @onclick="()=> IrADetalles(financiamiento.FinanciamientoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-warning" @onclick="()=> IrAEditar(financiamiento.FinanciamientoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger" @onclick="()=> IrAEliminar(financiamiento.FinanciamientoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                            <i class="bi bi-trash3-fill"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @*Paginación*@
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" @onclick="PaginaAnterior" disabled="@(paginaActual == 1)">Anterior</button>
                    <span>Página @paginaActual de @totalPaginas</span>
                    <button class="btn btn-primary" @onclick="PaginaSiguiente" disabled="@(paginaActual == totalPaginas)">Siguiente</button>
                </div>
            }
        </div>
            <!-- Footer -->
            <div class="card-footer">
                <p><strong>Total de Financiamientos:</strong> @financiamientos.Count</p>
            </div>
       

    </div>
</div>


@code {
    public List<Financiamiento> financiamientos = new List<Financiamiento>();
    public string filtro { get; set; }
    public string valorFiltro { get; set; }
    public string mensaje { get; set; }
    public bool loading { get; set; } = true;
    public decimal TotalPagar { get; set; }

    private int paginaActual = 1;
    private int productosPorPagina = 10;
    private int totalPaginas => (int)Math.Ceiling((double)financiamientos.Count / productosPorPagina);

    protected override async Task OnInitializedAsync()
    {
        financiamientos = await financiamientoService.Listar(e => true);
        TotalPagar = financiamientos.Sum(f => f.TotalPorPago);
        loading = false;

        if (financiamientos.Count == 0)
            StateHasChanged();
    }

    public async Task Buscar()
    {
        List<Financiamiento> resultado = new List<Financiamiento>();

        var financiamientosList = await financiamientoService.Listar(e => true);

        switch (filtro)
        {
          
            case "nombre":
                resultado = financiamientosList.Where(e =>
                    e.NombreCliente.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
                break;
        }

        if (resultado == null || resultado.Count == 0)
            mensaje = "No se encontraron financiamientos con el filtro especificado.";
        else
        {
            financiamientos = resultado;
            mensaje = string.Empty;
        }

        TotalPagar = financiamientos.Sum(f => f.TotalPorPago);
        StateHasChanged();
    }

    public async Task Restablecer()
    {
        financiamientos = await financiamientoService.Listar(e => true);
        TotalPagar = financiamientos.Sum(f => f.TotalPorPago);
    }

    public void IrACrear()
    {
        navigation.NavigateTo("/CreateFinanciamientos");
    }

    public void IrADetalles(int id)
    {
        navigation.NavigateTo($"/ViewFinanciamiento/financiamientoId={id}");
    }

    public void IrAEditar(int id)
    {
        navigation.NavigateTo($"/EditFinanciamientos/financiamientoId={id}");
    }

    public void IrAEliminar(int id)
    {
        navigation.NavigateTo($"/DeleteFinanciamientos/financiamientoId={id}");
    }

    public void PaginaAnterior()
    {
        if (paginaActual > 1)
        {
            paginaActual--;
        }
    }

    public void PaginaSiguiente()
    {
        if (paginaActual < totalPaginas)
        {
            paginaActual++;
        }
    }
}
